.article-teaser {
  margin: $content-margins;

  .article-teaser__title {
    margin: 5px 0;
  }

  .article-teaser__tags {
    display: inline-block;
    float: right;
    margin: 0 auto;
    text-align: right;

    a {
      background: #eceff4;
      border: 1px solid #eceff4;
      border-radius: 3px;
      padding: 2px;
      margin: 2px;
    }
  }

  .article-teaser__read-time {
    color: #9a9a9a;
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
  }

  .article-teaser__date {
    display: inline-block;
    font-size: 14px;
  }

  .article-teaser__text {
    font-size: 16px;
  }
}
