body {
  background: $blog-background-color;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;

  .content {
    background: $content-background-colour;
    border: 1px solid $content-border-colour;
    border-radius: 3px;
    margin: $content-margins;
    margin-top: 40px;
    max-width: $content-max-width;
    padding: 0 10px;
  }
}

@include no-underline-links;
