body {
  background: $blog-background-color;

  .content {
    background: $content-background-colour;
    border: 1px solid $content-border-colour;
    border-radius: 3px;
    margin: $content-margins;
    margin-top: 40px;
    max-width: $content-max-width;
    padding: 0 10px;
  }
}

@include no-underline-links;
