$banner-font-size: 25px;
$navigation-font-size: 18px;

.header {
  border-bottom: 1px solid $content-border-colour;
  margin: $content-margins;
  min-height: 40px;
  padding: 0 40px;
}

.navigation {
  text-align: right;

  ul {
    @include no-underline-links;
    font-size: $navigation-font-size;
    list-style: none;
    padding-top: $banner-font-size - $navigation-font-size;

    li {
      display: inline-block;
      padding-left: 25px;
    }
  }
}

.banner {
  float: left;
  font-size: $banner-font-size;
}
