.pagination {
  max-width: $content-max-width;

  ul {
    @include no-underline-links;
    list-style: none;
    padding-top: $banner-font-size - $navigation-font-size;

    li {
      display: inline-block;
    }
  }
}
