.article {
  @include no-underline-links;
  @include code-text-stylings;

  .article__title {
    text-align: center;
    font-size: 42px;
    margin: 10px 0;
    word-wrap: break-word;
  }

  .article__meta-info {
    padding: 5px 0;
  }

  .article__meta-tags {
    padding: 5px 0;
  }

  .article__tags {
    text-align: center;

    a {
      background: #eceff4;
      border: 1px solid #eceff4;
      border-radius: 3px;
      padding: 3px;
      margin: 0 5px;
    }
  }

  .article__notes {
    .panel-title {
      cursor: pointer;
      font-size: 14px;
      text-align: center;
    }

    .panel-heading {
      padding: 5px 5px;
    }

    .panel-title.accordion-toggle:after {
      font-family: 'Glyphicons Halflings';
      content: "\e114";
      float: right;
      color: grey;
    }

    .panel-title.accordion-toggle.collapsed:after {
      content: "\e080";
    }
  }

  .article__notes-date {
    text-align: right;
  }

  .article__notes-type {
    text-align: left;
  }

  .article__read-time {
    text-align: center;
    color: #9a9a9a;
    font-size: 14px;
  }

  .article__comments {
    text-align: left;
    font-size: 14px;
  }

  .article__date {
    text-align: right;
    font-size: 14px;
  }

  .article__separator {
    border-bottom: 1px solid $content-border-colour;
    margin: 10px 0;
  }

  .article__comments-button {
    text-align: center;
    padding-bottom: 20px;
  }

  .show-comments {
    width: 100%;
    font-weight: bold;
    background-color: #eceff4;
    cursor: pointer;
  }
}
