body {
  background: $blog-background-color;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;

  .content {
    background: $content-background-colour;
    border: 1px solid $content-border-colour;
    border-radius: 3px;
    margin-top: 20px;
  }

  img {
    display: block;
    height: auto;
    margin: 10px 0;
    max-width: 100%;
    width: auto;
  }
}

@include no-underline-links;
