.footer {
  @include no-underline-links;
}

.footer__copywrite {
  text-align: center;
}

.footer__social {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: space-around;
}
