$banner-font-size: 25px;
$navigation-font-size: 15px;

.header {
  @include no-underline-links;

  //margin: $content-margins;

  @media (min-width: 0px) {
    padding-bottom: 100px;
  }
  @media (min-width: 768px) {
    padding-bottom: 50px;
  }
}

.navigation {
  @include no-underline-links;
  font-size: $navigation-font-size;
  padding-top: $banner-font-size - $navigation-font-size;

  @media (min-width: 0px) {
    text-align: center;
  }
  @media (min-width: 768px) {
    text-align: left;
  }

  a:not(:last-of-type) {
    padding-right: 15px;
  }
}

.banner {
  font-size: $banner-font-size;
}
