.pagination {
  @include no-underline-links;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {

    background: #eceff4;
    border: 1px solid #eceff4;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: 2px;
    padding: 2px;
    width: 50%;
  }
}
