/*
 *= require jquery-ui/themes/base/autocomplete.css
 *= require jquery-ui/themes/base/menu.css
 */
.search-component {
  padding-top: $banner-font-size - $navigation-font-size + 4;

  @media (min-width: 0px) {
    text-align: center;
  }
  @media (min-width: 768px) {
    text-align: right;
  }
}

.search {
  border-radius: 5px;
  font-size: large;
  outline: 0;
  width: 100%;
}

.ui-autocomplete {
  background-color: rgba(255, 255, 255, 95);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
  overflow: auto;

  width: 80%;

  @media (min-width: 768px) {
    max-width: 300px;
    width: 100%;
  }
}

.ui-autocomplete .ui-menu-item {
  margin: 0;
  padding: 5px 10px;
}

.ui-autocomplete .ui-menu-item a {
  color: $font-color;
}

.ui-autocomplete .ui-menu-item:hover {
  background-color: $blog-background-color;
  cursor: pointer;
}

.ui-autocomplete .ui-state-focus a {
  color: $hover-font-color;
}

.ui-autocomplete.noresults {
  font-style: italic;
}

.ui-helper-hidden-accessible {
  position: absolute; left:-999em;
}
