<div class="article-teaser">
  <h1 class="article-teaser__title"><%= link_to article.title, article %></h1>

    <div class="article-teaser__date"><%= article.date.strftime('%B %e, %Y') %> </div>
    <div class="article-teaser__read-time">10 minutes</div>

    <% if article.tags.size > 0 %>
      <div class="article-teaser__tags">
        <% article.tags.each do |tag| %>
          <%= link_to tag, tag_path(tag) %>
        <% end %>
      </div>
    <% end %>

  <p class="article-teaser__text"><%= article.data.teaser %></p>
</div>
