  </body>

  <div class="col-md-12 footer__copywrite">
    Code licensed <a href="https://github.com/kevinjalbert/kevinjalbert.github.io/blog/real-master/LICENSE">MIT</a>, Content &copy; 2019 Kevin Jalbert
  </div>
</html>

<%= javascript_include_tag :app %>
<%= partial 'amazon-associates' %>
