  </body>

  <div class="container footer">
    <div class="col-md-12 footer__social">
      <a href="https://twitter.com/KevinJalbert">Twitter</a>
      <a href="https://github.com/kevinjalbert">GitHub</a>
      <a href="https://stackoverflow.com/users/583592/kevin-jalbert">Stack Overflow</a>
    </div>

    <div class="col-md-12 footer__copywrite">
      Code licensed <a href="https://github.com/kevinjalbert/kevinjalbert.github.io/blob/real-master/LICENSE">MIT</a>, Content &copy; 2019 Kevin Jalbert
    </div>
  </div>
</html>

<%= javascript_include_tag :app %>
