  </body>

  <div class="col-md-12 footer__copywrite">
    &copy; 2017 Kevin Jalbert
  </div>
</html>

<%= javascript_include_tag :app %>

<!-- https://connect.getliner.com/api/in-site -->
<script type="text/javascript" charset="utf-8" src="https://connect.getliner.com/sdk/sdk-in-site.js"></script>
