<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZ2C67981H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SZ2C67981H');
    </script>

    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= partial :seo %>
    <%= stylesheet_link_tag :app %>
    <%= feed_tag :atom, "/feed.xml", title: "Articles | Kevin Jalbert" %>
  </head>

  <div class="container">
    <div class="header">
      <%= partial :navigation %>
    </div>
  </div>

  <body>
