<div class="col-xs-12 col-sm-7 navigation">
  <a class="banner" href="/">Kevin Jalbert</a>
  <a href="/about/">About</a>
  <a href="/now/">Now</a>
  <a href="https://github.com/kevinjalbert/ama/blob/master/README.md">AMA</a>
</div>

<div class="col-xs-12 col-sm-5 search-component">
  <input placeholder="Search" type="text" class="search ui-autocomplete-input ui-corner-all" autocomplete="on">
</div>
