<% if prev_page || next_page %>
  <div class="pagination">
    <% if prev_page %>
        <%= link_to 'Prev Page', prev_page %>
    <% end %>

    <% if next_page %>
        <%= link_to 'Next Page', next_page %>
    <% end %>
  </div>
<% end %>
