<% if prev_page || next_page %>
  <div class="pagination">
    <ul>
      <% if prev_page %>
        <li>
          <%= link_to 'Previous', prev_page %>
        </li>
      <% end %>

      <% if next_page %>
        <li>
          <%= link_to 'Next', next_page %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
