---
title: "About"

description: "Software Engineer. Writing primarily about Ruby and Rails."
---

I'm a husband, father, and a Software Engineer living in the Greater Toronto Area (GTA). This website will primarily be a software development blog, with some possible off-topic entries sprinkled throughtout.

</br></br>

I am currently working at <a href="https://www.shopify.ca/about">Shopify</a>. I primarily work in Ruby (Rails) and JavaScript (React). If I had to pick a language to quickly do something, Ruby is my goto language.

</br></br>

I finished my Bachlor's in Software Engineer at the <a href="http://www.uoit.ca/">University of Ontario Institue of Technology (UOIT)</a>. I had took an interest in research and continued on with a Master's in Computer Science. For my research I mostly focused on software quality and mutation testing.

</br></br>

In the past I was an avid gamer, although in recent years I have less time to indulge. I still enjoy following and playing the occasional game. I do enjoy some Rocket League (although I'm pretty bad at it) and I have a facination with idle games for some strange reason.
