---
description: Software Engineer. Writing primarily about Ruby and Rails.
---

I'm a husband, and a Software Engineer living in the Greater Toronto Area (GTA). This website will primarily be a software development blog, with some possible off-topic entries sprinkled throughtout.

</br></br>

I am currently working at <a href="http://mobile.thescore.com/">theScore</a>. I primarily work with Ember.js and Ruby on Rails with a strong preference to Ruby as my goto language.

</br></br>

I had finished my Bachlor's in Software Engineer at the <a href="http://www.uoit.ca/">University of Ontario Institue of Technology (UOIT)</a>. I had took an interest in research and continued on with a Master's in Computer Science. For my research I mostly focused on software quality and mutation testing.

</br></br>

In the past I was an avid gamer, although in recent years I have less time to indulge. I still enjoy following and playing the occasional game.I've recently taken a liking to <a href="http://us.battle.net/heroes/en/">Heroes of the Storms</a>, and I have a facination with idle games for some strange reason. Still Role-Playing Games (RPGs) were my bread and butter for the longest time.
