---
description: Software Engineer. Writing primarily about Ruby and Rails.
pageable: true
per_page: 5
---

<% page_articles.each_with_index do |article, i| %>
  <%= partial 'article-teaser', locals: { article: article } %>

  <% if i != page_articles.size - 1 %>
    <div class="article-teaser__separator"></div>
  <% end %>
<% end %>

<% if paginate %>
  <%= partial :pagination, locals: { prev_page: prev_page, next_page: next_page } %>
<% end %>
