---
title: "Now"

description: "Software Engineer. Writing primarily about Ruby and Rails."
---

<h1>What am I Focusing on Now?</h1>

Everything below is a high-level snapshot of what I'm working on as of <%= File.open(current_page.source_file).mtime.strftime('%B %e, %Y') %>.

<h2>Personal</h2>
<ul>
  <li>Likely working on the next blog article. I have been doing one post a month since January 2016.</li>
  <li>Enjoying family time with my wife and son (born November 2016).</li>
  <li>Better organizing my life using <a href="https://www.notion.so/">Notion</a>.</li>
</ul>

<h2>Professional</h2>
<ul>
  <li>Refining my technical skills (Ruby/Rails, JavaScript/React).</li>
  <li>Refining my leadership skills.</li>
  <li>Understanding my new job and role at <a href="https://www.shopify.ca/about">Shopify</a> to better make an impact.</li>
</ul>

<h3>What is this?</h3>

For more details on this concept I recommend looking over <a href="https://nownownow.com/about">nownownow.com</a> by <a href="https://sivers.org/">Derek Sivers</a>.
