---
description: Software Engineer. Writing primarily about Ruby and Rails.
---

As of <%= File.open(current_page.source_file).mtime.strftime('%B %e, %Y') %> this is a subset of what I am currently working on:

<ul>
  <li>Working on the next blog article I am aiming for one post a month, which I succeeded in 2016</li>
  <li>Enjoying time with my new son -- born Nov 2016</li>
  <li>Working on and blogging about a side project for 2017</li>
</ul>
