---
description: Software Engineer. Writing primarily about Ruby and Rails.
---

As of <%= File.open(current_page.source_file).mtime.strftime('%B %e, %Y') %> this is a subset of what I am currently working on:

<ul>
  <li>Improving this website's design and functionality</li>
  <li>Working on the next blog article</li>
  <li>Attempting to become a <i>morning person</i></li>
  <li>Giving meditation a shot</li>
  <li>Working exercies into my routine</li>
</ul>
